html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 10px;
}
body {
  padding: 0 10%;
  background-color: #ecf4fe;
}
@media (max-width: 900px) {
  body {
    padding: 0 0;
    background-color: #ecf4fe;
  }
}
a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
